/cmake-build-debug
.idea
.cmake
.ninja_deps
.ninja_log
build.ninja
antlr4cpp_generated_src
antlr4_runtime
CMakeFiles
cajeta.cbp
cmake_install.cmake
CMakeCache.txt
Makefile
Testing
cajeta
gen/
*.gch
*.ll
*.tokens

